In [1]:
purchases = spark.read.parquet('/tmp/purchases') # Spark read on tmp purchases

In [2]:
purchases # Note it's the same schema we wrote to parquet

DataFrame[Accept: string, Host: string, User-Agent: string, event_type: string, timestamp: string]

In [3]:
purchases.show() #Show the purchases we just wrote

+------+-----------------+---------------+--------------+--------------------+
|Accept|             Host|     User-Agent|    event_type|           timestamp|
+------+-----------------+---------------+--------------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:03:...|
+------+-----------------+---------------+--------------+--------------------+

In [4]:
purchases.registerTempTable('purchases') # Register dataframe as a table

In [6]:
# Write a SQL query using spark SQL to select the purchases from user1
purchases_by_example2 = spark.sql("select * from purchases where Host = 'user1.comcast.com'")

In [7]:
purchases_by_example2.show() # Show the subset, 10 entries, as expected

+------+-----------------+---------------+--------------+--------------------+
|Accept|             Host|     User-Agent|    event_type|           timestamp|
+------+-----------------+---------------+--------------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-27 21:02:...|
+------+-----------------+---------------+--------------+--------------------+

In [8]:
# Save the temporary table to a Pandas data frame, to show the opposite of what I just did
df = purchases_by_example2.toPandas()

In [9]:
df # Print the Pandas data frame

,Accept,Host,User-Agent,event_type,timestamp
0,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.051
1,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.054
2,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.059
3,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.064
4,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.066
5,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.07
6,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.073
7,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.079
8,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.083
9,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.086

In [10]:
df.describe() # Describe the data frame

,Accept,Host,User-Agent,event_type,timestamp
count,10,10,10,10,10
unique,1,1,1,1,10
top,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-27 21:02:51.086
freq,10,10,10,10,1